* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body{
  background: url('./bg.jpg');
  /* background: url('https://img.freepik.com/free-vector/modern-desktop-background-geometric-blue-design-vector_53876-135923.jpg?t=st=1727285426~exp=1727289026~hmac=985c116f4c3aa9e5594fa8d86dafca6d7fa4839fffa5090b87b26180f9845db8&w=1380'); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  /* background-position: cover; */
  background-size: cover;
  background-repeat: no-repeat;
}
.container{
  width: 80vw;
  height: 90vh;
  background-color: rgba(17, 25, 40, 0.75);
  /* backdrop-filter: blur (19px) saturate(180%); */
  backdrop-filter: blur(19px) saturate(180%); /*Blur effect */
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}
.loading{
  padding: 50px;
  font-weight: 36px;
  border-radius: 10px;
  background-color: rgba(17, 25, 40, 0.9);
}